# Compiled class file
*.class

# Package Files #
*.jar

# Netbeans project files
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
build.xml
